<p>
  <b>Code:</b>
  <%= @country.code %>
  <br/>
  <b>Description:</b>
  <%= @country.name %>
  <br />
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
